<div class="container mt-5">
  <div>
    <a href="/me/stored/courses">Danh sách khoá học</a>
    <h3>Khoá học đã xoá</h3>
  </div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id="{{this._id}}">Xoá vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Thùng rác trống!
                <br>
                <a href="/me/stored/courses">Trở về danh sách khoá học.</a>
              </td>
            </tr>
            {{/each}}
        </tbody>        
    </table>
</div>


{{!-- confirm delete course --}}
<div class="modal" tabindex="-1" id="delete-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá vĩnh viễn khoá học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Mày chắc là muốn xoá vĩnh viễn không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-danger" id="btn-delete-course">Xoá vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Deleten hidden form --}}
<form method="POST" id="delete-course-form" class="mt-5"></form>


{{!-- restore form --}}
  <form method="POST" id="restore-course-form" class="mt-5"></form>



<script>
    document.addEventListener('DOMContentLoaded', function () {
      var restoreForm = document.querySelector('#restore-course-form')
      var restoreBtn = $('.btn-restore');
      restoreBtn.click(function (event) {
        event.preventDefault();
        var courseId = $(this).data('id');
        restoreForm.action = '/courses/' + courseId + '/restore/?_method=PATCH';
        restoreForm.submit();
      
      })
    });
    const deleteModal = document.getElementById('delete-course-modal')
        if (deleteModal) {
            var courseId;
            var deleteForm = document.forms['delete-course-form'];
            var btnDeleteCourse = document.getElementById("btn-delete-course");

            deleteModal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget;
                courseId = button.getAttribute('data-id');
            })


            btnDeleteCourse.onclick = () => {
                deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
                deleteForm.submit();
            }
        }
</script>
